@page "/Account/ConfirmEmail"

@using System.Text
@using AndreGoepel.Marten.Identity.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Radzen
@using Radzen.Blazor

@inject UserManager<User> UserManager
@inject NavigationManager NavigationManager

<PageTitle>Confirm email – nerdventures.blog</PageTitle>

<div class="rz-p-4 rz-p-md-8">
    <RadzenCard>
        <RadzenStack Orientation="Orientation.Vertical" Gap="2rem" AlignItems="AlignItems.Center">

            <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1">Email confirmation</RadzenText>

            @if (succeeded)
            {
                <RadzenAlert AlertStyle="AlertStyle.Success" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                    Thank you for confirming your email. You can now log in.
                </RadzenAlert>
                <RadzenButton Text="Log in"
                              ButtonStyle="ButtonStyle.Primary"
                              Click=@(() => NavigationManager.NavigateTo("/Account/Login")) />
            }
            else
            {
                <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                    @error
                </RadzenAlert>
                <RadzenButton Text="Go to home"
                              ButtonStyle="ButtonStyle.Primary"
                              Click=@(() => NavigationManager.NavigateTo("/")) />
            }

        </RadzenStack>
    </RadzenCard>
</div>

@code {
    private bool succeeded;
    private string error = "An error occurred confirming your email.";

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            error = $"Error loading user with ID '{UserId}'.";
            return;
        }

        var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
        var result = await UserManager.ConfirmEmailAsync(user, code);
        succeeded = result.Succeeded;
        if (!result.Succeeded)
            error = "Error confirming your email. The link may have expired.";
    }
}
