@page "/Account/ConfirmEmailChange"

@using System.Text
@using AndreGoepel.Marten.Identity.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Radzen
@using Radzen.Blazor

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject NavigationManager NavigationManager

<PageTitle>Confirm email change – nerdventures.blog</PageTitle>

<div class="rz-p-4 rz-p-md-8">
    <RadzenCard>
        <RadzenStack Orientation="Orientation.Vertical" Gap="2rem" AlignItems="AlignItems.Center">

            <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1">Email change confirmation</RadzenText>

            @if (succeeded)
            {
                <RadzenAlert AlertStyle="AlertStyle.Success" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                    Thank you for confirming your email change. Your email has been updated.
                </RadzenAlert>
                <RadzenButton Text="Go to profile"
                              ButtonStyle="ButtonStyle.Primary"
                              Click=@(() => NavigationManager.NavigateTo("/Account/Manage/Profile")) />
            }
            else
            {
                <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                    @error
                </RadzenAlert>
                <RadzenButton Text="Go to home"
                              ButtonStyle="ButtonStyle.Primary"
                              Click=@(() => NavigationManager.NavigateTo("/")) />
            }

        </RadzenStack>
    </RadzenCard>
</div>

@code {
    private bool succeeded;
    private string error = "An error occurred confirming your email change.";

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Email is null || Code is null)
        {
            error = "Invalid email change confirmation link.";
            return;
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            error = $"Unable to load user with ID '{UserId}'.";
            return;
        }

        var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
        var result = await UserManager.ChangeEmailAsync(user, Email, code);
        if (!result.Succeeded)
        {
            error = "Error changing email. The link may have expired.";
            return;
        }

        // In our UI email and user name are one and the same
        var setUserNameResult = await UserManager.SetUserNameAsync(user, Email);
        if (!setUserNameResult.Succeeded)
        {
            error = "Error updating user name.";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        succeeded = true;
    }
}
