@page "/Account/InvalidPasswordReset"
@attribute [AllowAnonymous]

@inject NavigationManager NavigationManager

<AppPageTitle Title="Invalid password reset" />

<div class="rz-p-4 rz-p-md-8">
    <RadzenCard>
        <RadzenStack Orientation="Orientation.Vertical" Gap="2rem" AlignItems="AlignItems.Center">

            <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1">Invalid password reset</RadzenText>

            <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                The password reset link is invalid.
            </RadzenAlert>

            <RadzenButton Text="Request a new link"
                          ButtonStyle="ButtonStyle.Primary"
                          Click=@(() => NavigationManager.NavigateTo("/Account/ForgotPassword")) />

        </RadzenStack>
    </RadzenCard>
</div>
