@page "/Account/InvalidUser"
@attribute [AllowAnonymous]
@inherits IdentityLocalizedComponentBase

@inject NavigationManager NavigationManager

<AppPageTitle Title="@T("InvalidUser.PageTitle")" />

<div class="rz-p-4 rz-p-md-8">
    <RadzenCard>
        <RadzenStack Orientation="Orientation.Vertical" Gap="2rem" AlignItems="AlignItems.Center">

            <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1">@T("InvalidUser.Heading")</RadzenText>

            <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                @T("InvalidUser.Detail")
            </RadzenAlert>

            <RadzenButton Text="@T("InvalidUser.GoHome")"
                          ButtonStyle="ButtonStyle.Primary"
                          Click=@(() => NavigationManager.NavigateTo("/")) />

        </RadzenStack>
    </RadzenCard>
</div>

@code {
}
