@page "/Account/InvalidUser"

@using Radzen
@using Radzen.Blazor

@inject NavigationManager NavigationManager

<PageTitle>Invalid user – nerdventures.blog</PageTitle>

<div class="rz-p-4 rz-p-md-8">
    <RadzenCard>
        <RadzenStack Orientation="Orientation.Vertical" Gap="2rem" AlignItems="AlignItems.Center">

            <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1">Invalid user</RadzenText>

            <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                The user could not be loaded.
            </RadzenAlert>

            <RadzenButton Text="Go to home"
                          ButtonStyle="ButtonStyle.Primary"
                          Click=@(() => NavigationManager.NavigateTo("/")) />

        </RadzenStack>
    </RadzenCard>
</div>
