@page "/Account/ResetPasswordConfirmation"
@attribute [AllowAnonymous]
@inherits IdentityLocalizedComponentBase

@inject NavigationManager NavigationManager

<AppPageTitle Title="@T("ResetPasswordConfirmation.PageTitle")" />

<div class="rz-p-4 rz-p-md-8">
    <RadzenCard>
        <RadzenStack Orientation="Orientation.Vertical" Gap="2rem" AlignItems="AlignItems.Center">

            <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1">@T("ResetPasswordConfirmation.Heading")</RadzenText>

            <RadzenAlert AlertStyle="AlertStyle.Success" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                @T("ResetPasswordConfirmation.Detail")
            </RadzenAlert>

            <RadzenButton Text="@T("ResetPasswordConfirmation.LogIn")"
                          ButtonStyle="ButtonStyle.Primary"
                          Click=@(() => NavigationManager.NavigateTo("/Account/Login")) />

        </RadzenStack>
    </RadzenCard>
</div>

@code {
}
