@page "/Account/ResetPasswordConfirmation"

@using Radzen
@using Radzen.Blazor

@inject NavigationManager NavigationManager

<PageTitle>Password reset – nerdventures.blog</PageTitle>

<div class="rz-p-4 rz-p-md-8">
    <RadzenCard>
        <RadzenStack Orientation="Orientation.Vertical" Gap="2rem" AlignItems="AlignItems.Center">

            <RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1">Password reset</RadzenText>

            <RadzenAlert AlertStyle="AlertStyle.Success" Shade="Shade.Lighter" Variant="Variant.Flat" AllowClose="false">
                Your password has been reset successfully.
            </RadzenAlert>

            <RadzenButton Text="Log in"
                          ButtonStyle="ButtonStyle.Primary"
                          Click=@(() => NavigationManager.NavigateTo("/Account/Login")) />

        </RadzenStack>
    </RadzenCard>
</div>
